body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  height: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 20%;
}

html {
  padding: 0; 
  margin: 0;
  height: 100%;
}

#earth_div{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  background-color: darkcyan;
}

#side-panel {
  padding-top: 5px;
  text-align: center;
  background-color: blueviolet;
  height: 100%;
}
